<div>
    <h2>전송되었습니다.</h2>
    <h5>보내는 사람의 메일주소는</h5>
    <p><%=@banana %></p>
    <h5>받는 사람의 메일주소는</h5>
    <p><%=@apple %></p>
    <h5>여러분이 쓴 글의 제목은</h5>
    <p><%=@almond %></p>
    <h5>여러분이 쓴 글의 내용은</h5>
    <p><%=@aufcl %></p>
    <p><a href="/">새로 쓰기</a></p>
    
    <style>
        
        div {
    text-align:center;
    margin-top:20%;
    }
    h5 {
        font-weight:bold;
    }

    </style>
    
</div>